---
---

body {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
  color: #666;
  padding: 50px;
}

.wrapper {
  width: 860px;
  margin: 0 auto;  
}

.contact {
  display: inline-block
}

b {
  font-weight: 500;
  color: #333;
}
 
a {
  color: #333;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #aaa;
  text-decoration: underline dotted;
}

.name-header {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 24px;
}

.name-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.top-section { 
  display: flex; 
  flex-direction: row; 
  gap: 32px; 
  align-items: center
}

.profile {
  height: 240px; 
  width: 240px;
  border-radius: 20px;
}

h2 {
  margin-top: 36px;
}

h4 {
  margin-top: 24px;
  margin-bottom: 16px;
}

p {
  line-height: 24px;
}

strong {
  font-weight: 500;
  color: #333;
  background-color: #f0f0f0;
  display: inline-block;
  border-radius: 4px;
  padding: 0 2px;
}

.paper-line {
  margin: 6px 0;
}

.paper-line:first-child {
  font-size: 18px;
}

.paper-cont {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.paper-img-cont {
  height: 162px;
  width: 288px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.award {
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  font-weight: 500;
  background-color: #f0f0f0;
}

.paper-deets {
  margin-right: 8px;
}

.paper-deets i {
  margin-right: 4px;
}

.poster-cont {
  margin: 20px 0;
}

@media print, screen and (max-width: 960px) {
  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    position:static;
    width:auto;
  }
}

@media print, screen and (max-width: 836px) {
  .name-header {
    display: block;
  }

  .contact {
    margin-top: 8px;
  }
}

@media print, screen and (max-width: 662px) {
  .name-container {
    display: block;
  }
  .name-header {
    text-align: center;
  }
}


@media print, screen and (max-width: 540px) {
  body {
    padding:15px;
  }

  .top-section {
    display: block;
  }

  .paper-cont {
    display: block;
  }

  .paper-img-cont {
    position: relative;
    padding-top: 56.25%;
    width: 100%;
    height: auto;
  }
}
