<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width">
    <script src="https://kit.fontawesome.com/edbb373435.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons/css/academicons.min.css">
    <title>{{site.title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;700&family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
    <link rel="shortcut icon" href="{{site.icon}}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="top-section">
          <div style="text-align: center">
            {% if site.profile %}
              <img class="profile" src="{{site.profile | relative_url}}" alt="Logo"/>
            {% endif %}
          </div>
          <div>
            <div class="name-header">
              <div class="name-container">
                <div><h1 style="margin: 0">{{ site.title }}</h1></div>
                <div><h1 style="margin: 0">🇰🇷&nbsp;🇸🇻</h1></div>
              </div>
              <div class="contact">
                <a href="mailto:taesoo.kim@kaist.ac.kr" target="_blank"><i class="fa-solid fa-square-envelope fa-2x"></i></a>
                <a href="https://twitter.com/tae_skim" target="_blank"><i class="fab fa-twitter-square fa-2x" style="margin-left: 4px"></i></a>
                <a href="https://scholar.google.com/citations?user=CsBoGvMAAAAJ&hl=en" target="_blank"><i class="ai ai-google-scholar-square fa-2x" style="margin-left: 4px"></i></a>
                <a href="https://github.com/tsook/" target="_blank"><i class="fab fa-github-square fa-2x" style="margin-left: 4px"></i></a>
                <a href="https://taesookim.com/assets/pdf/TaeSooKim_CV.pdf" target="_blank"><i class="ai ai-cv-square fa-2x" style="margin-left: 4px"></i></a>
              </div>
            </div>
            {{ page.description | markdownify }}
          </div>
        </div>

      </header>
      <section style="padding-bottom: 20px;">

      {{ content }}

      </section>
      <footer style="width: inherit; position: relative; bottom: 0px;">
        <div>
          <p style="display: inline-block; float: right;"> <small>Last updated: {{site.last_update}}</small> </p>
        </div>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_analytics}}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{site.google_analytics}}');
      </script>
    {% endif %}
  </body>
</html>
